
@{
    ViewBag.Title = "Medicina General";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/card.css" rel="stylesheet" />

<div style="text-align:center;">
    <h2>Medicina General</h2>


</div>

<!--============================================================================================================================================================-->
<section class="pb-5">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="~/Imagenes/icons8-calendario-48.png" alt="card image"></p>
                                <h4 class="card-title">Sunlimetech 2</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Sunlimetech 2</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                <div>
                                    <button type="button" class="btn-lg" data-bs-toggle="modal" data-bs-target="#myModal">Agendar cita</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============================================================================================================================================================-->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="~/Imagenes/icons8-calendario-48.png" alt="card image"></p>
                                <h4 class="card-title">Sunlimetech 1</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Sunlimetech 1</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                <div>
                                    <button type="button" class="btn-lg">Agendar cita</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============================================================================================================================================================-->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!--Contenido del formulario de agendar cita-->
            <div class="modal-body bg-primary">
                <label style="font-family: Arial; color: white;">
                    <b>Bienvenido a la ventana de agregar cita</b>
                </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script>
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
    })
</script>