@model  INNOVAMED.Models.Pacientes

@{
    ViewBag.Title = "Login-";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .bg {
        background-image: url(../../Imagenes/fondo.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<body class="bg ">
    <br />
    <div class="container w-75 bg-transparent mt-5 rounded shadow">
        <div class="row align-items-stretch ">

            <div class="col bg-transparent d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded text-center">
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <img src="~/Imagenes/logo.png" alt="logo" width="100%">

            </div>
            <!-- Logo y Bienvenida-->
            <div class="col bg-transparent p-5 text-center rounded-end">
                <div class="text-end">

                </div>

                <h2 class="fw-bold text-center pt-5 mb-5 py-5"
                    
                    style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        font-size:xx-large;
                    color:black"> Bienvedios a Innovamed </h2>

        

                <!-- LOGIN  -->
                <form class="form-control" method="post" action="@Url.Action("AccederSistema","Login")">
                    <div class="mb-4 text-left ">
                        <label for="usertx">Email:</label> <br />
                        <div class="input-group">

                            <span class="input-group-text">📧</span>
                            <input type="text" class="form-control" name="Email" id="Email" placeholder="Ej.example@gmail.com" required>
                        </div>

                    </div>
                    <div class="mb-4 text-left">
                        <label for="txtPassword" class="form-label">Password:</label><br />
                        <div class="input-group">
                            <span class="input-group-text">🔑</span>
                            <input type="password" class="form-control" name="Password" id="Password" placeholder="Ej. ******" required>
                        </div>

                    </div>
                    <div class="mb-4 text-left form-check">
                        <input type="checkbox" name="content" class="form-check-input" id="">
                        <label for="content" class="form-check-label">Mantenerme conecctado</label>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary" id="boton-dinamico">
                            <span class="spinner-grow spinner-grow-sm"></span>
                            Iniciar Seción
                        </button>
                    </div>


                    <!-- BOTON DIMANIC-->

                    <div class="my-3 text-center">
                        <span>¿Notienes cuenta? <a href="#"> Registrate</a></span> <br>
                        <samp><a href="#">Recuperar Password</a></samp>
                    </div>
                </form>
                <!-- LOGIN CON REDES SOCIALES -->


                <div class="container  bg-transparent w-100 my-5">
                    <div class="row text-center text-center text-bg-primary">
                        <div class="col-12" style="font-size:x-large;">Inciar Seción </div><br />
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-outline-primary w-100 my-1">
                                <div class="row align-items-center">
                                    <div class="col-2 d-none d-md-block">
                                        <img src="img/facebook.png" width="32" alt="">
                                    </div>
                                    <div class="text-center col-12 col-md-10 ">
                                        Facebook
                                    </div>
                                </div>
                            </button>
                        </div>
                        <!-- Oto Booton-->
                        <div class="col">
                            <button class="btn btn-outline-danger w-100 my-1">
                                <div class="row align-items-center">
                                    <div class="col-2 d-none d-md-block">
                                        <img src="img/google.png" width="32" alt="">
                                    </div>
                                    <div class="col-12 col-md-10 text-center">
                                        Google
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="js/bootstrap.bundle.min.js"></script> <br />
</body>