
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>INNOVAMED</title>
    <link type="text/css" href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <!--barra de navegacion de menu-->
    <div>
        <ul class="nav nav-pills nav-fill gap-2 p-1 small shadow-sm" id="pillNav2" role="tablist" style="background-color: #C4F9F8; --bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary);">
            <li class="nav-item" role="presentation">
                <!--se cambio logo de innovamed-->
                <img src="~/Imagenes/logoInnovamed.jpg" width="110">

            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link rounded-5" id="home-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">Medicina General</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link rounded-5" id="profile-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Especialidades</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link rounded-5" id="profile-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Conocenos</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">@Html.ActionLink("Registrarse", "RegistrarPaciente", "Registro", new { area = "" }, new { @class = "navbar-brand" })</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false"> @Html.ActionLink("Inicio de sesion", "Login", "Login", new { area = "" }, new { @class = "navbar-brand" })</button>
            </li>
        </ul>
    </div><br /><br />


    <!-- Carousel -->
    <div class="col-sm-12">
        <div class="contenedor">
            <div id="demo" class="carousel slide " data-bs-ride="carousel">

                <!-- botones indicadore -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                </div>

                <!-- imagenes del carousel -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Imagenes/carusel1.png" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Imagenes/carusel2.png" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Imagenes/carusel3.png" class="d-block w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--barra de preguntas frecuentes y agendar cita -->
    <div>
        <ul class="nav nav-pills nav-fill gap-2 p-1 small color-Interno rounded-5 shadow-sm centrar-y-reducir" id="pillNav2" role="tablist" style="bottom: 350px;--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
            <!--logo de interrogacion cambiado-->
            <li class="nav-item" role="presentation">
                <img src="~/Imagenes/iconinfo.png" width="30">
            </li>
            <li class="nav-item " role="presentation">
                <button class="nav-link rounded-5" id="profile-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Preguntas Frecuentes</button>
            </li>
            <li class="nav-item" role="presentation">
                <img src="~/Imagenes/Calendario.jpg" width="30" />
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Agendar Cita</button>
            </li>
        </ul>
    </div>

    <br><br>
    <!--texto de consulta-->
    <div class="testo-1 ">
        <asp:Label runat="server" Text="Label">¿Como hacer una cita?</asp:Label>
    </div>

    <!--columnas de infromacion para ayuda del cliente-->

    <div class="container mt-5">
        <div class="row">

            <div class="border border-info col-sm-3 ">
                <div>
                    <h3 style="background-color: #C4F9F8; font-family: 'Times New Roman', Times, serif; font-size: x-large"><b>Paciente de nuevo ingreso</b>.</h3><hr>
                </div>
                <p>informacion para pacientes de citas medicas</p>
                <p>Requisitos</p>
            </div>
            <div class="col-md-1" style="background-color:white"></div>
            <div class="border border-info col-sm-3">
                <h3 style="background-color: #C4F9F8; font-family: 'Times New Roman', Times, serif; font-size: x-large"><b>Paciente sin cita medica</b>.</h3><hr>
                <p>Imformacion para pacientes registrados que no tengan cita medica</p>
                <p>datos importantes</p>
            </div>
            <div class="col-md-1" style="background-color:white"></div>
            <div class="border border-info col-sm-3">
                <h3 style="background-color: #C4F9F8; font-family: 'Times New Roman', Times, serif; font-size: x-large"><b>Paciente con cita medica</b>.</h3><hr>
                <p>Informacion para pacientes que tengan citas medicas</p>
                <p>datos importantes</p>
            </div>
            <div class="col-md-1" style="background-color:white"></div>
        </div>
    </div>
    <br>
    <br>
    <br>


    <!--Barra de informacion infe-->
    <!-------------------------------->
    <!-------------------------------->
    <div class="container-fluid" style="background-color: #0093B9; color: #0093B9; ">
        <!--modificando div general-->
        <div class=" row py-3 align-text-top text-white text-center">
            <!-- midificando texto-->
            <nav class="navbar">
                <div class="col-md-4">
                    <!-- aliniacion de iconos-->
                    <div>
                        <a href="#"> <img src="~/Imagenes/icons8-mensaje-de-telefono-50.png" width="30" /></a>
                    </div>
                    <samp>Teléfono <br />(503)0000-0000</samp>
                </div>
                <!-- -->
                <div class="col-md-4">
                    <!-- aliniacion de iconos-->
                    <div>
                        <a href="#"> <img src="~/Imagenes/icons8-correo-24.png" width="30" /></a>
                    </div>
                    <samp>Correo <br />example@mail.com</samp>
                </div>
                <!-- -->
                <div class="col-md-4">
                    <!-- aliniacion de iconos-->
                    <div>
                        <a href="#"> <img src="~/Imagenes/icons8-maps-48.png" width="30" /></a>
                    </div>
                    <samp>El Salvador <br />San salvador</samp>
                </div>
                <!-- -->
            </nav>
        </div>
    </div>
</body>
</html>
