@Models.Pacientes;

@{
    ViewBag.Title = "Registro-";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!-- Carousel -->
    <div class="col-md-12">
        <div class="contenedor">
            <div id="demo" class="carousel slide " data-bs-ride="carousel">

                <!-- imagenes del carousel -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Imagenes/Registrate.jpg" class="d-block w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />

    <!--nuevo ingreso-->
    <br />
    <div class="testo-1">
        <b><asp:Label runat="server" Text="Label">Nuevo Ingreso</asp:Label></b>
    </div>
    <div class="texto-2">
        <b><asp:Label runat="server" Text="Label">Te damos la bienvenida, por favor completa el siguiente formulario<br />para añadir tu registro</asp:Label></b>
    </div>
    <br />

    <!--cajas de texto-->
    <div >
        <br />
        <form class="form-control container-lg" style="background: #0093B9;">
            <!--campos para ingreso de nombres-->
            <div class="row">
                <div class="col-lg-6">
                    <label style="color:white; font-family:'Times New Roman', Times, serif; font-size:medium">NOMBRE DEL PACIENTE</label>
                    <input type="text" class="form-control" placeholder="Nombres*" name="nombres">
                </div>
                <div class="col-lg-6">
                    <label style="color:white; font-family:'Times New Roman', Times, serif; font-size:medium">APELLIDO DEL PACIENTE</label>
                    <input type="text" class="form-control" placeholder="Apellidos*" name="apellidos">
                </div>
            </div>
            <br />

            <!--campo de ingreso de direccion-->
            <div class="row">
                <div class="col-lg-10">
                    <label style="color:white; font-family:'Times New Roman', Times, serif; font-size:medium; text-align:left">DIRECCION</label>
                    <input type="text" class="form-control" placeholder="Direccion segun Dui*" name="direccion">
                </div>
            </div>
            <br />

            <!--campos de ingreso de correo y teleono-->
            <div class="row">
                <div class="col-lg-6">
                    <label style="color:white; font-family:'Times New Roman', Times, serif; font-size:medium; text-align:left">CORREO ELECTRONICO</label>
                    <input type="text" class="form-control" placeholder="Correo electronico*" name="email">
                </div>
                <div class="col-lg-3">
                    <label style="color:white; font-family:'Times New Roman', Times, serif; font-size:medium; text-align:left">TELEFONO</label>
                    <input type="text" class="form-control" placeholder="Telefono*" name="telefono">
                </div>
            </div>
            <br />

            <!--campos de ingreso de documento de identidad y fecha de nacimiento-->
            <div class="row">
                <div class="col-lg-3">
                    <label style="color:white; font-family:'Times New Roman', Times, serif; font-size:medium; text-align:left">DUI</label>
                    <input type="text" class="form-control" placeholder="DUI*" name="dui">
                </div>                
                <div class="col-lg-3">
                    <label style="color:white; font-family:'Times New Roman', Times, serif; font-size:medium; text-align:left">FECHA DE NACIMIENTO</label>
                    <input type="date" class="form-control" placeholder="Fecha de nacimiento*" name="Fecha de nacimiento">
                </div>
                
            </div>
            <br />

            <!--campos de ingreso de correo y teleono-->
            <div class="row">
                <div class="col-lg-4">
                    <label style="color:white; font-family:'Times New Roman', Times, serif; font-size:medium; text-align:left">CONTRASEÑA</label>
                    <input type="password" class="form-control" placeholder="Contraseña*" name="contraseña" onclick="viewPassword()">
                </div>
                <div class="col-lg-4">
                    <label style="color:white; font-family:'Times New Roman', Times, serif; font-size:medium; text-align:left">CONFIRMACION DE CONTRASEÑA</label>
                    <input type="password" class="form-control" placeholder="Confirmar su contraseña*" name="Confirmacion de contraseña">
                </div>
            </div>
            <br />

            <!--en caso de emergencia llamar a -->
            <div class="row">
                <div class="col-lg-6">
                    <label style="color:white; font-family:'Times New Roman', Times, serif; font-size:medium; text-align:left">NOMBRE DE LA PERSONA RESPONSABLE</label>
                    <input type="text" class="form-control" placeholder="En caso de emergencia llamar a*" name="nombres">
                </div>
                <div class="col-lg-3">
                    <label style="color:white; font-family:'Times New Roman', Times, serif; font-size:medium; text-align:left">TELEFONO</label>
                    <input type="text" class="form-control" placeholder="Telefono*" name="apellidos">
                </div>
            </div>
            <br />

            <!--CheckBox -->
            <div class="row">
                <div class="col text-white">
                    <asp:Label runat="server" Text="Label" style="margin-left:10px">Sexo*</asp:Label>
                    <input type="radio" class="form-check-input" style="margin-left:40px" id="femenino" name="optradio" value="Femenino">
                    <label class="form-check-label" for="radio2">Femenino</label>
                    <input type="radio" class="form-check-input" style="margin-left:40px" id="masculino" name="optradio" value="Masculino">
                    <label class="form-check-label" for="radio2">Masculino</label>
                </div>
            </div>
            <hr />
            <div class="row text-white">
                <div class="col">
                    <asp:Label runat="server" Text="Label" style="margin-left:10px">¿Consumes medicamentos de tipo recurrentes?</asp:Label>
                    <input type="radio" class="form-check-input" style="margin-left:40px" id="medSi" name="optradio1" value="true">
                    <label class="form-check-label" for="radio2">SI</label>
                    <input type="radio" class="form-check-input" style="margin-left:40px" id="medNo" name="optradio1" value="false">
                    <label class="form-check-label" for="radio2">NO</label>
                </div>
            </div>
            <hr />
            <div class="row text-white">
                <div class="col">
                    <asp:Label runat="server" Text="Label" style="margin-left:10px">¿Padeces alguna enfermedad cronica?</asp:Label>
                    <input type="radio" class="form-check-input" style="margin-left:105px" id="enfSi" name="optradio2" value="true">
                    <label class="form-check-label" for="radio2">SI</label>
                    <input type="radio" class="form-check-input" style="margin-left:40px" id="enfNo" name="optradio2" value="false">
                    <label class="form-check-label" for="radio2">NO</label>
                </div>

            </div>
            <br /><br />
            <!--Botones de guardar y limpiar-->
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Limpiar informacion</button>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Guardar datos</button>
                </div>
            </div>
        </form>
        <br />

    </div>
    <br />
    <br />
    <br />

