
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>INNOVAMED</title>
    <link type="text/css" href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <!--barra de navegacion de menu-->
    <div>
        <ul class="nav nav-pills nav-fill gap-2 p-1 small color-Interno rounded-5 shadow-sm" id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
            <li class="nav-item" role="presentation">
                <!--se cambio logo de innovamed-->
                <img src="~/Imagenes/logoInnovamed.jpg" width="110">

            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link active rounded-5" id="home-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">Medicina General</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link rounded-5" id="profile-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Especialidades</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Registrarse</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">inicio de sesion</button>
            </li>
        </ul>
    </div>

    <!--nuevo ingreso-->
    <br />
    <div class="testo-1">
        <b><asp:Label runat="server" Text="Label">Nuevo Ingreso</asp:Label></b>
    </div>
    <div class="texto-2">
        <b><asp:Label runat="server" Text="Label">Te damos la bienvenida, por favor completa el siguiente formulario<br />para añadir tu registro</asp:Label></b>
    </div>
    <br />

    <!--cajas de texto-->
    <div class="container mt-3">
        <form class="texto-3">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Nombres*" name="nombres">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Apellidos*" name="apellidos">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Correo electronico*" name="email">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Telefono*" name="telefono">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="DUI*" name="dui">
                </div>
                <div class="col">
                    <div class="col">
                        <input type="date" class="form-control" placeholder="Fecha de nacimiento*" name="Fecha de nacimiento">
                    </div>
                </div>
            </div>
            <br />
            <!--CheckBox -->
            <div class="row">
                <div class="col">
                    <asp:Label runat="server" Text="Label" style="margin-left:10px">Sexo*</asp:Label>
                    <input type="radio" class="form-check-input" style="margin-left:40px" id="femenino" name="optradio" value="Femenino">
                    <label class="form-check-label" for="radio2">Femenino</label>
                    <input type="radio" class="form-check-input" style="margin-left:40px" id="masculino" name="optradio" value="Masculino">
                    <label class="form-check-label" for="radio2">Masculino</label>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col">
                    <asp:Label runat="server" Text="Label" style="margin-left:10px">¿Consumes medicamentos de tipo recurrentes?</asp:Label>
                    <input type="radio" class="form-check-input" style="margin-left:40px" id="medSi" name="optradio1" value="true">
                    <label class="form-check-label" for="radio2">SI</label>
                    <input type="radio" class="form-check-input" style="margin-left:40px" id="medNo" name="optradio1" value="false">
                    <label class="form-check-label" for="radio2">NO</label>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col">
                    <asp:Label runat="server" Text="Label" style="margin-left:10px">¿Padeces alguna enfermedad cronica?</asp:Label>
                    <input type="radio" class="form-check-input" style="margin-left:105px" id="enfSi" name="optradio2" value="true">
                    <label class="form-check-label" for="radio2">SI</label>
                    <input type="radio" class="form-check-input" style="margin-left:40px" id="enfNo" name="optradio2" value="false">
                    <label class="form-check-label" for="radio2">NO</label>
                </div>
            </div>
            <br /><br />
            <!--Botones de guardar y limpiar-->
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Limpiar informacion</button>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Guardar datos</button>
                </div>
            </div>
        </form>
        <br />

    </div>
    <br />
    <br />
    <br />

    <!--Comensar a condificar Info-bar -->
    <!-------------------------------->
    <div class="container-fluid  color-Interno ">
        <!--modificando div general-->
        <div class=" row py-3 align-text-top text-black text-center">
            <!-- midificando texto-->
            <nav class="navbar">
                <div class="col-md-4">
                    <!-- aliniacion de iconos-->
                    <div>
                        <a href="#"> <img src="~/Imagenes/cell.png" width="40" /></a>
                    </div>
                    <samp><b>Teléfono <br />(503)9820-3928</b></samp>
                </div>
                <!-- -->
                <div class="col-md-4">
                    <!-- aliniacion de iconos-->
                    <div>
                        <a href="#"> <img src="~/Imagenes/mail.png" width="40" /></a>
                    </div>
                    <samp><b>Correo <br />example@mail.com</b></samp>
                </div>
                <!-- -->
                <div class="col-md-4">
                    <!-- aliniacion de iconos-->
                    <div>
                        <a href="#"> <img src="~/Imagenes/ubi.png" width="40" /></a>
                    </div>
                    <samp><b>El Salvador <br />San salvador</b></samp>
                </div>
                <!-- -->
            </nav>
        </div>
    </div>
</body>
</html>
