@{
    ViewBag.Title = "Especialidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

}

<link href="~/Content/card.css" rel="stylesheet" />

<div style="text-align:center;">
    <!-- Carousel -->
    <div class="col-md-12">
        <div class="contenedor">
            <div id="demo" class="carousel slide " data-bs-ride="carousel">

                <!-- imagenes del carousel -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Imagenes/Banner model (1).png" class="d-block w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--==================================Informacion de medicos====================================-->
    <section class="pb-5">
        <div class="row">
            <!--================Tarjeta 1====================-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center text-black">
                                    <p><img class=" img-fluid" src="~/Imagenes/pediatra01.jpg" alt="card image"></p>
                                    <h4 class="texto">Dra. Rocio Romero </h4>
                                    <p class="card-text" style="color: black; font-family: 'Courier New',Courier New, Times, serif  ">Pediatra Neonatóloga Consultas SAN SALVADOR</p>
                                    @*<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>*@
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech 2</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <div>
                                        <button type="button" class="btn-lg" data-bs-toggle="modal" data-bs-target="#myModal">Agendar cita</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--================Tarjeta 2====================-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="~/Imagenes/pediatria03.png" alt="card image"></p>
                                    <h4 class="texto">Dra. Ivonne Chávez</h4>
                                    <p class="card-text" style="color: black; font-family: 'Courier New',Courier New, Times, serif  ">Cardióloga Pediátra Consultas en SAN SALVADOR </p>

                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech 2</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <div>
                                        <button type="button" class="btn-lg" data-bs-toggle="modal" data-bs-target="#myModal">Agendar cita</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--================Tarjeta 3====================-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="~/Imagenes/pedia003.jpg" alt="card image"></p>
                                    <h4 class="texto">Dr. Francisco Dardón</h4>
                                    <p class="card-text" style="color: black; font-family: 'Courier New',Courier New, Times, serif  "> Pediatra Neurólogo Consultas en SAN SALVADOR</p>
                                    @*<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>*@
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech 2</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <div>
                                        <button type="button" class="btn-lg" data-bs-toggle="modal" data-bs-target="#myModal">Agendar cita</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>



<!-- Modal -->
<div class="modal fade" id="myModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!--Contenido del formulario de agendar cita-->
            <div class="modal-body bg-primary">
                <label style="font-family: Arial; color: white;">
                    <b>Bienvenido a la ventana de agregar cita</b>
                    <!--campos para ingreso de nombres-->
                    <form>
                        <div class="row">
                            <div class="col-lg-6">
                                <label style="color: white; font-family: 'Courier New',Courier New, Times, serif; font-size: medium ">NOMBRE DEL PACIENTE</label>
                                <input type="text" class="form-control" placeholder="Nombres*" name="nombres">
                            </div>
                            <div class="col-lg-6">
                                <label style="color: white; font-family: 'Courier New',Courier New, Times, serif; font-size: medium ">APELLIDO DEL PACIENTE</label>
                                <input type="text" class="form-control" placeholder="Apellidos*" name="apellidos">
                            </div>
                        </div>
                    </form>
                    <br />
                </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script>
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
    })
</script>